<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :letter %>
  <%= text_input f, :letter, maxlength: "1", minlength: "1" %>
  <%= error_tag f, :letter %>

  <div>
    <%= submit "Search" %>
  </div>
<% end %>
